/*
SASS/Framework/Forms.Scss
Dan Smith. 2015
*/


input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: black;
  top: -2.2rem;
  -webkit-transition: all 0.125s ease;
  transition: all 0.125s ease;
}



.floating-label {
  float: left;
  width: 100%;
  margin: 0.7rem 0 1rem;
  position: relative;
  background: black;

  label {
    color: white;
    padding: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }



}

.row div[class^="col-"]:last-of-type > .floating-label{
  border-right: 0 !important;
}


input,
textarea {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background: transparent;
  color: white;
  -webkit-transition: background 200ms ease;
  -moz-transition: background 200ms ease;
  -ms-transition: background 200ms ease;
  -o-transition: background 200ms ease;
  transition: background 200ms ease;

  &.not-empty:invalid{

    border-color: red;
    color: red;

    ~ label{
      opacity: 0;
      color: transparent;
      border-color: red;
    }
  }

  &:focus{
    ~ label {
      font-size: 0.75em;
      color: black;
      top: -2.2rem;
      -webkit-transition: all 0.125s ease;
      transition: all 0.125s ease;
    }
    background: #FFF;
    color: #111;
    outline: 0;
  }

  &:valid{
    ~ label {
      font-size: 0.75em;
      color: black;
      top: -2.2rem;
      -webkit-transition: all 0.125s ease;
      transition: all 0.125s ease;
    }
  }

  &:required {
    box-shadow:none;
  }
  &:invalid {
    box-shadow:none;
  }


  ~ span {
    display: block;
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s ease;
    transition: all 0.125s ease;
  }


  ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
  }

}



