/*
SASS/Framework/Forms.Scss
Dan Smith. 2015
*/
form #error {
  background: #f2f2f2;
  max-width: 441px;
  padding: 14px;
  margin: 20px auto;
  text-align: center;
  color: red;
  display: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  line-height: 1.3;
  font-size: 16px;
}

.validate-error{
  border: 1px solid red;
  padding: 10px;
  background: rgba(255,0,0,0.2);
  margin-top: 12px;
}
.validate-error:before {
  content: attr(data-error-message);
  position: absolute;
  background: red;
  top: -30px;
  left: -1px;
  height: 20px;
  font-size: 16px;
  padding: 5px 12px;
}

form #error.show{
  display: block;
}

form #success{
  display: none;
}


