/*
SASS/Framework/Mixins/respond.Scss
Dan Smith. 2015
*/


@mixin border-radius($radi...){
  -webkit-border-radius: $radi;
  border-radius: $radi;
}

@mixin box-shadow($horizontal, $vertical, $blur, $spread, $colour, $inset:""){
  -webkit-box-shadow: unquote($inset) $horizontal $vertical $blur $spread $colour;
  box-shadow: unquote($inset) 1px 2px 3px 4px rgba(2,2,2,2);
}

@mixin transition($property:"all", $duration:"180ms",$easing: "linear"){
  -webkit-transition: unquote($property) unquote($duration) unquote($easing);
  -moz-transition: unquote($property) unquote($duration) unquote($easing);
  -ms-transition: unquote($property) unquote($duration) unquote($easing);
  -o-transition: unquote($property) unquote($duration) unquote($easing);
  transition: unquote($property) unquote($duration) unquote($easing);
}

@mixin scale($scale:"1"){
  -moz-transform: scale(unquote($scale));
  -webkit-transform: scale(unquote($scale));
  -o-transform: scale(unquote($scale));
  -ms-transform: scale(unquote($scale));
  transform: scale(unquote($scale));
}

@mixin transform($scale:"1",$rotate:"0deg",$translateX:"0px",$translateY:"0px",$skewX:"0px",$skewY:"0px"){
  -moz-transform: unquote($scale) unquote($rotate) unquote($translateX)  unquote($translateY) unquote($skewX) unquote($skewY);
  -webkit-transform: unquote($scale) unquote($rotate)  unquote($translateX)  unquote($translateY) unquote($skewX) unquote($skewY);
  -o-transform: unquote($scale) unquote($rotate)  unquote($translateX) unquote($translateY) unquote($skewX) unquote($skewY);
  -ms-transform: unquote($scale) unquote($rotate)  unquote($translateX)  unquote($translateY) unquote($skewX) unquote($skewY);
  transform: unquote($scale) unquote($rotate)  unquote($translateX)  unquote($translateY) unquote($skewX) unquote($skewY);
}

@mixin timeline($name){
  @-moz-keyframes #{$name}{
    @content;
  }
  @-webkit-keyframes #{$name}{
    @content;
  }
}

@mixin animate($name, $duration:"200ms", $loop:"infinite",$easing:"ease"){
  animation: #{$name} unquote($duration) unquote($loop) unquote($easing);
  -webkit-animation: #{$name} unquote($duration) unquote($loop) unquote($easing);
  -moz-animation:#{$name} unquote($duration) unquote($loop) unquote($easing);
}