#file-tree-explorer{
    .root{
        span{
            position: absolute;
            width: 100%;
            overflow: hidden;
        }
    }
    #filetree{
        ul{
            padding-left:10px;
            
            li{
                span{
                    position: absolute;
                    display: inline-block;
                    overflow: hidden;
                }
                &.file{
                    &::before{
                        display: inline-block;
                    }                    
                }
                &.dir{
                    span{
                        cursor: pointer;
                    }
                    &::before{
                        display: inline-block;
                    }
                    ul{display: none};
                    &.active{
                        &::before{
                            display: inline-block;
                        }
                        ul{display: block}
                    }
                }
            }
        }
    }
}