*{
    box-sizing: border-box;
    margin:0;
    padding: 0; 
}

html, body{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -2;
}

html{
    font-size: 16px;
}

body{
    font-size: 100%;   
}
  
#app{
    position: relative;
    height: 100%;
    width: 100%;    
    .main{
        position: absolute;
        top:0;
        left:200px;
        right: 0;
        bottom: 0;
        float: right;
    }
    .side{
        position: absolute;
        top:0;
        width:200px;
        float: left;
        bottom: 0;
        overflow-y: hidden;
        overflow-x: hidden;

        .view{
             position: absolute;
             top:6px; bottom: 6px;left: 6px; right: 6px;
             overflow-y: auto;
             overflow-x:hidden;
         }
    }
}

.relative-block{
    position: relative; 
    display:block; 
    height:100%; 
    width: 100%;
}
.scroll-view{
    display:block;
    height: 100%; 
    overflow-y: scroll;
    overflow-x: auto;
}


.dragbar{
   height:100%;
   float: right;
   width: 13px;
   border-left: 6px solid transparent; //side
   border-right: 6px solid transparent; //primary
   z-index: 999;
   transition: all linear 120ms;   
   cursor: col-resize;   
}
