$menu-sub-menu-width: 210px;
$menu-height: 2rem;

.menu{
    &:before{
        content: attr(data-title); 
        position: absolute;
        top:0;
        left:0;
        right:0;
        text-align: center;
        color: #555;
        height:$menu-height;
        display: inline-block;
        max-width: 60%;
        overflow: hidden;
        margin:0 auto;
        font-family: sans-serif;
        font-size: 13px;
    }
    position: relative;
    display: block;
    width: 100%;
    ul{
        position: relative;
        height: $menu-height;
        z-index: 999;
        li{
            display: inline-block;
            width: auto;
            padding: 0 10px;
            position: relative;
            cursor: pointer;                     
        }       
        ul{
            z-index: 999;
            display: block;
            position: absolute;
            height:auto;
            width: $menu-sub-menu-width;
            top: $menu-height;
            left: 0;
            display: none;
            li{
                padding-left: 30px !important;
            }
        }
    }    
    li li{
        width: 100%;
    }
}


.menu ul ul ul{
    left:$menu-sub-menu-width - 1px;
    transform: translateY(-1 * $menu-height);
}

/*Item Height*/
.menu,
.menu ul li{
    height: $menu-height;
    line-height: $menu-height;
}

/*shortcut*/
.menu ul ul li span{
    position: absolute;
    right: 0;
    padding-right: 20px;
}

/*hover effects*/
.menu ul ul li:hover{   
    cursor: pointer;
}

/*active menu enable hover*/
/*css hover effect*/
.menu ul.active li.active > ul,
.menu ul.active li:hover > ul{
    display: block !important;
    cursor: pointer;
}

.menu{
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.menu ul li ul li, 
.menu ul li ul, 
.menu ul li {
    -webkit-app-region: no-drag;
}