%relative{   
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

ul.tabbed-area{ 
    .tabbed-content{
        @extend %relative;                       
        display: none;
        &.active{
            display: block
        }
    }
}