#fullscreen-overlay{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    background: #000;
    z-index: 9999;
    display: block;
    transform: translateX(100%);
    transition: all 300ms linear;

    &.active{
        transform: translateX(0%);      
    }
}
