@import '../../settings/breakpoints';
@import "../../mixins/respond";


%gutter{
  margin: 0 $gutter/2;
}

.gutter{
  @extend %gutter;
}

%module{
  position: relative;
  display:block;
  padding: $module-padding;
  padding-top: 0;
  padding-bottom: 0;
  @extend %gutter;
  margin-bottom: 1rem;
}


@mixin GridLayout($maxcols, $colgutter, $colSelector:".col-", $pushSelector:".push-"){
  @for $i from 1 through $maxcols {

    #{$colSelector}#{$i} {
      float: left;
      width: percentage( $i/ $maxcols);
    }

    #{$pushSelector}#{$i}{
      margin-left: percentage( $i/ $maxcols);
    }
  }
}

@mixin ResponsiveGridLayout($maxcols, $colgutter, $colSelector:".col-", $pushSelector:".push-", $respond: "desktop"){
  @for $i from 1 through $maxcols {
    #{$colSelector}#{$i} {
      @include breakpoint(unquote($respond))
      {
        float: left;
        width: percentage( $i/ $maxcols) !important;
      }
    }

    #{$pushSelector}#{$i}{
      @include breakpoint(unquote($respond))
      {
        margin-left: percentage( $i/ $maxcols) !important;
      }
    }
  }
}


.gutter{
  @extend %gutter;
}

.module{
  @extend %module;
}

.wrap{

  //mobile first
  position: relative;
  margin:0 auto;
  width: 100%;
  max-width:$container-default;


  //large phones
  @include breakpoint(mobile) {
    max-width:$container-mobile;
  }

  //tablets
  @include breakpoint(tablets) {
    max-width:$container-tablet;
  }

  //desktop
  @include breakpoint(desktop) {
    max-width:$container-desktop;
  }

  //full width
  @include breakpoint(retina) {
    max-width:$container-retina;
  }

  .wrap{
    width: auto !important;
    max-width: unset;
    .wrap{
      width: auto !important;
      max-width: unset;
      .wrap{
        width: auto !important;
        max-width: unset;
      }
    }
  }

}


.row{
  display: block;

  &:after{
    display: block;
    content: "";
    clear: both;
  }

  @include GridLayout($total-columns, $gutter,".col-",".push-");
  @include ResponsiveGridLayout($total-columns, $gutter,".col-retina-",  ".push-retina-","retina");
  @include ResponsiveGridLayout($total-columns, $gutter,".col-desktop-", ".push-desktop-","desktop");
  @include ResponsiveGridLayout($total-columns, $gutter,".col-tablet-",  ".push-tablet-","tablets");
  @include ResponsiveGridLayout($total-columns, $gutter,".col-mobile-",  ".push-mobile-","mobile");
  @include ResponsiveGridLayout($total-columns, $gutter,"%col-retina-"," %push-retina-","retina");
  @include ResponsiveGridLayout($total-columns, $gutter,"%col-desktop-", "%push-desktop-","desktop");
  @include ResponsiveGridLayout($total-columns, $gutter,"%col-tablet-",  "%push-tablet-","tablets");
  @include ResponsiveGridLayout($total-columns, $gutter,"%col-mobile-",  "%push-mobile-","mobile");
}


.row {
  .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,
  .col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    &:first-child {
      .module{
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}
