$theme-primary: #FFF;
$theme-adj:  #1d7ad9;
$theme-secondary: #21222c;
$theme-ter: #191a21;
$theme-side: #343746;
$theme-font:#222;

html, body{
    background:$theme-primary;
    color: $theme-font;
}
 
#app{    
    .main{
        background-color: $theme-secondary;
    }
    .side{
        background-color: #c8c8c9;
        border-right:1px solid #afaaac;
         .view{
             .content{ 
             }
         }
    }
}

.tab-row{
    height:2rem;    
    .tab{
        height:2rem; 
        line-height:2rem; 
        padding: 0 8px;
        font-family: sans-serif;
        font-size: 13px;
        &.active{
            color: #000;
        }
    }
}

.dragbar{
   background-color:$theme-ter;
   width: 13px;
   border-left: 6px solid #c8c8c9; //side
   border-right: 6px solid #c8c8c9; //primary
   margin-right: -6px;
   margin-left: -6px;
   &.active{
    background-color:$theme-adj;
   }
   &:hover{
    background-color:$theme-adj;
   }
}