//Menu Btns
.menu{
    #closeBtn{
        border:1px solid #dc3f39;
        background: #ff544d;
    }
    #minBtn{
        border:1px solid #dc9618;
        background: #ffb429;
    }
    #maxBtn{
        border:1px solid #14a327;
        background:#24c238;
    }
}
