::-webkit-scrollbar {
    width: 20px;
}
.main,
.side{
    ::-webkit-scrollbar{
//        display: none;
        width: 12px;
    }
    ::-webkit-scrollbar-track-piece{
        &:start {
            /* Select the top half (or left half) or scrollbar track individually */
            //background: rgba(0,0,0,0.1);
        }
    }
    &:hover{
        ::-webkit-scrollbar{
 //           display: block;
        }
        ::-webkit-scrollbar-thumb{
            background: $theme-adj!important;
        }
    }
}

::-webkit-scrollbar-track-piece{
    &:start {
        /* Select the top half (or left half) or scrollbar track individually */
       // background: rgba(0,0,0,0.2);
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 0;
    border-radius: 0;
    //background: rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0;
//    background: #44444a;
    -webkit-box-shadow: 0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece:start,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb{
    &:window-inactive {
        /* Select the thumb when the browser window isn't in focus */
       opacity: 0;
    }
}

 ::-webkit-scrollbar-thumb{
     &:hover{
        /* Select the down or left scroll button when it's being hovered by the mouse */
        background: $theme-adj!important;
        cursor: pointer;
     } 
 }

 ::-webkit-resizer,
 ::-webkit-scrollbar-corner       
 { 
    background: #282a36;
    border: 1px solid $theme-adj !important;  
 }