&.window-inactive{
    #min-btn,
    #max-btn,
    #close-btn{
        background: $inactive-bg !important;
        border-color: $inactive-border !important;
    }

    #app{
        color:$inactive-color !important;

        .side{
            background: $inactive-bg;
        }
        .dragbar{
            border-color: $inactive-bg;
        }
    }

    .tab-row{
        background: $inactive-bg;
        border-color: $inactive-border;
        .tab{
            color: $inactive-color;
            background: $inactive-bg;
            &.active{
                color: $inactive-color;
                background: $inactive-bg;
            }
        }
    }

    .bars{
        background: $inactive-bg;
    }

    #status-bar{
        background:$inactive-bg !important;
        border-color:$inactive-border;
    }

    #toolbar{
        color: $active-color;           
        border-bottom: 1px solid $inactive-border;

        ul{    
            background: $inactive-bg;
            li{
                &.button{
                    
                    color:$inactive-color !important;
                    border-color: $inactive-border !important;

                    &.grouped{
                        &.left{
                        }
                        &.right{
                        }
                    }            
                    &:hover{
                    }
                    &:active{
                    }
                }
                &.divider{
                }
            }
        }
    }
    
}

