html, body{  
    color: $theme-font;
}
 
#app{    
    background-color:transparent;
    .main{
        background-color: $primary-bg;
    }
    .side{
        border-right:1px solid $border-col;
        background: $secondary-bg;
         .view{
             border: 1px solid $border-col;
             background-color: $primary-bg;
             top:$window-margin;
             left:$window-margin;
             right:$window-margin;
             bottom:$window-margin;

             .content{ 
                 padding: 3px;
             }
         }
    }
}

.tab-row{
    height:2rem;   
    background: transparent;
    border-bottom: 1px solid $border-col;
    .tab{
        height:2rem; 
        line-height:2.3rem; 
        padding: 0 12px;
        font-family: sans-serif;
        font-size: 13px;        
        &:first-child{
            padding-left: 6px;
        }
        &.active{
            color: $primary-bg;                  
            background: $menu-bg;
        }
        &.disabled{
            background: $secondary-bg;
            color: rga(0,0,0,0.3);
            cursor: not-allowed;
        }
    }
}

.dragbar{
   width: 13px;
   border-left: 6px solid $secondary-bg; 
   border-right: 6px solid $secondary-bg;
   &.active{
    background-color:$ter-bg;
   }
   &:hover{
    background-color:$ter-bg;
   }
}