$window-margin: 4px;

$primary-bg: #ffffff;
$secondary-bg: rgba(240,240,240,1);
$ter-bg:  rgba(0,120,215,1);
$border-col: rgba(130,135,144);

$menu-bg:  rgba(0,120,215,0.3);
$menu-bg-inactive: rgba(255,255,255,0.1);
$statusbar-bg: $secondary-bg;
$statusbar-bg-inactive: $menu-bg-inactive;

$btn-radius: 0;
$btn-border-style: 0;
