
.tooltip, .tooltip.bottom{
  display: inline;
  position: relative;
  cursor: pointer;

  @include transition("all","0ms","linear");
}

p a.tooltip{
  color: inherit;
}

a.tooltip{
  &:after{
    @include transition("all","0ms","linear");
  }
}

.tooltip:active:after,
.tooltip:hover:after{
  background: #1a1a1a;
  border-radius: 1px;
  bottom: 26px;
  color: #fff;
  content: attr(data-title);
  left: 20%;
  position: absolute;
  z-index: 98;
  width: 170px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.2em;
  height: auto;
  padding: 3px;
  border:1px solid #333;

}

.tooltip:active:before,
.tooltip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}


.tooltip.bottom:active:after,
.tooltip.bottom:hover:after{
  background: #333;
  border-radius: 1px;
  bottom: auto;
  top:26px;
  color: #fff;
  content: attr(data-title);
  text-justify: auto;
  text-align: left;
  font-weight: 400;
  left: 20%;
  padding: 15px 18px;
  position: absolute;
  z-index: 98;
  width: 170px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.2em;
}

.tooltip.bottom.left:active:before,
.tooltip.bottom.left:hover:before,
.tooltip.bottom:active:before,
.tooltip.bottom:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: auto;
  top:20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


.tooltip.bottom.left:active:after,
.tooltip.bottom.left:hover:after{
  background: #1a1a1a;
  border-radius: 1px;
  bottom: auto;
  top:26px;
  color: #fff;
  content: attr(data-title);
  text-justify: auto;
  text-align: left;
  font-weight: 400;
  left: 20%;
  padding: 15px 18px;
  position: absolute;
  z-index: 98;
  width: 170px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.2em;
  -moz-transform: translateX(-75%);
  -webkit-transform: translateX(-75%);
  -o-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  transform: translateX(-75%);
}