/*
SASS/Framework/Tables.Scss
Dan Smith. 2015
*/
@import "../../Mixins/respond";


article, .download-table{
  table{

    &.v-top{
      tr td:first-child{
        vertical-align: top !important;
      }
    }

    &.list{
      tr{
        @include respond(mobile){
          background: #fff;
          padding: 20px;
          border: 1px solid #d0d0d0;
          margin-bottom: 10px;
        }
        &.bottom{
          border-bottom: 1px dotted #ccc !important;
        }
        &.top{
          border-top: 1px dotted #ccc !important;
        }
      }

    }

    display: table;
    width:100%;
    font-size: 100%;
    line-height: 1.2;

    @include respond(mobile){
      font-size: 90%;
    }

    thead{
      tr{
        text-transform: uppercase;
        td{
          color: white;
        }
      }
    }

    tbody {
      tr {
        display: table-row;

        &.sub-head{
          td{
            background: black;
            color: #FFF;
            font-variant: all-small-caps;
            @include respond(full) {
              width: 220px;
            }

            @include respond(desktop) {
              width: 220px;
            }

            @include respond(tablets) {
              width: 220px;
            }
          }
        }

        @include respond(mobile){
          display: block;
        }
      }
    }

    tr{
      td{
        text-align: left;
        vertical-align: middle;
        padding: 10px 20px;

        ul li{
          line-height: 1.5;
        }

        &:first-child{
          font-variant: all-small-caps;
        }

        p{
          @include respond(mobile){
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            max-width: 400px;
            margin: 0 auto;
          }
        }

      }
    }

    @include respond(mobile){
      tr td{
        padding:10px;
        border-bottom: 1px solid #f7f7f7;
        display: block;
        text-align: center !important;

        ul li{
          text-align: center !important;
        }
      }
    }

    tr td.thumb{
      width: 120px !important;
      @include respond(mobile){
        width: 100% !important;
        max-width: 360px;
        margin: 10px auto
      }
    }


    tr td.download{
      min-width: 190px !important;

      @include respond(mobile){
        width: 100% !important;
      }
    }


    tr td:first-child{
      font-size: 1.2em;

      a{
        font-size: 80%;
      }

      text-align: right;
      padding-right: 20px;
      background: linear-gradient(90deg, white,#e8eaec);
      color: black;
      vertical-align: middle;

      @include respond(mobile){
        background: #FFF;
        color: #111;
        display: block;
        padding:10px !important;
        text-align: center;
        border-bottom: 0 none;
      }

    }

    tr:hover{
      background: #e8eaec;
    }

  }


  tbody.dropdown{

    padding-bottom: 15px;

    @include respond(mobile){
      display: none;
    }
  }

  tbody.dropdown.active
  {
    display: block !important;
    border-bottom: 1px solid #ccc;
  }



  table tbody tr.sub-head{

    &.open{
      td {
        background: #000;
        color: #ccc;
        i{
          color: #000;
        }
      }
    }

    td{
      text-align: left;

      i{
        @include respond(full){
          display: none;
        }
        @include respond(desktop){
          display: none;
        }
        @include respond(tablets){
          display: none;
        }

        font-size: 0.8em;
        color: #ccc;
        margin-right: 5px;
      }

      @include respond(mobile){
        background: linear-gradient(90deg, white,#e8eaec);
        color: #000;
        text-align: left !important;
        border-bottom: 1px solid #d0d0d0;
      }
    }
  }

  .table-block{
    width: 100%;
    height: 100%;
    display: table;
    position: relative;

    .table-cell{
      width: 100%;
      height: 100%;
      vertical-align: middle;
      display: table-cell;
    }

  }

}

.display-tables{
  display: none;
  &.display{
    display: block;
  }
}
