/*
SASS/Framework/Tables.Scss
Dan Smith. 2015
*/

@import "../../Mixins/respond";



article, .download-table{
  table{

    p,h5{
      margin-bottom: 0 !important;
    }

    &.v-top{
      tr td:first-child{
        vertical-align: top !important;
        font-family: 'Trade Gothic LT W01 Bold No-_2';
      }
    }

    &.list{
      tr{
        &.bottom{
          border-bottom: 1px dotted #ccc !important;
        }
        &.top{
          border-top: 1px dotted #ccc !important;
        }
      }
    }

    display: table;
    width:100%;
    font-size: 100%;
    line-height: 1.2;

    thead{
      tr{

        td{
          color: white;
        }
      }
    }

    tbody {
      tr {
        display: table-row;
        border:1px solid #e8e8e8;

        &.sub-head{
          td{
            background: black;
            color: #FFF;
            font-variant: all-small-caps;

          }
        }

      }
    }

    tr{
      td{
        text-align: left;
        vertical-align: middle;

        @include breakpoint(retina){
          padding: 10px;
        }
        @include breakpoint(desktop){
          padding: 10px;
        }



        ul li{
          line-height: 1.5;
        }

        &:first-child{
          font-variant: all-small-caps;
        }

        p{
          text-align: center;
          padding: 10px;
          @include breakpoint(retina){
           text-align: left;
          }
          @include breakpoint(desktop){
            text-align: left;
          }
        }

      }
    }

    @include breakpoint(default){
      tr td{

        border-bottom: 1px solid #f7f7f7;
        display: block;
        text-align: center !important;

        ul li{
          text-align: center !important;
        }
      }
    }
    @include breakpoint(mobile){
      tr td{
        border-bottom: 1px solid #f7f7f7;
        display: block;
        text-align: center !important;

        ul li{
          text-align: center !important;
        }
      }
    }
    @include breakpoint(tablets){
      tr td{
        border-bottom: 1px solid #f7f7f7;
        display: block;
        text-align: center !important;

        ul li{
          text-align: center !important;
        }
      }
    }


    tr td.thumb{
      @include breakpoint(retina){
        width: 120px !important;

      }
      @include breakpoint(desktop){
        width: 120px !important;

      }
    }


    tr td.download{
      min-width: 190px !important;


    }


    tr td:first-child{
      font-size: 1.2em;

      a{
        font-size: 80%;
      }

      text-align: right;

      background: linear-gradient(90deg, white,#e8eaec);
      color: black;
      vertical-align: middle;





    }

    tr:hover{
      @include breakpoint(retina){
        background: #e8eaec;
      }

      @include breakpoint(desktop){
        background: #e8eaec;
      }
    }

  }




  tbody.dropdown.active
  {
    display: block !important;
    border-bottom: 1px solid #ccc;
  }



  table tbody tr.sub-head{

    &.open{
      td {
        background: #000;
        color: #ccc;
        i{
          color: #000;
        }
      }
    }

    td{
      text-align: left;

      i{

        font-size: 0.8em;
        color: #ccc;

      }


    }
  }

  .table-block{
    width: 100%;
    height: 100%;
    display: table;
    position: relative;

    .table-cell{
      width: 100%;
      height: 100%;
      vertical-align: middle;
      display: table-cell;
    }

  }

}

.display-tables{
  display: none;
  &.display{
    display: block;
  }
}
