/*
SASS/Framework/Tables.Scss
Dan Smith. 2015
*/

@import "../../Mixins/respond";



table.data{



 th{
   font-family: Trade Gothic LT W01 Bold No-_2;
   display: none;
   @include breakpoint(retina){
     display: table-cell;
     background: #000;
     color: #ccc;
     padding: 20px;
     text-align: left;
     border-right: 1px solid #555;
     min-width: 200px;
   }
   @include breakpoint(desktop){
     display: table-cell;
     background: #000;
     color: #ccc;
     padding: 20px;
     text-align: left;
     border-right: 1px solid #555;
     min-width: 200px;
   }
   @include breakpoint(tablets){
     display: table-cell;
     background: #000;
     color: #ccc;
     padding: 20px;
     text-align: left;
     border-right: 1px solid #555;
     min-width: 200px;
   }

 }

  tr th:last-child{
    border-right: 0 !important;
  }

  tr{
    background: #f2f2f2;
    &:nth-child(2n){
      background: #f8f8f8 !important;
    }

    td{
      display: block;
      padding-left: 20px;
      padding-right: 20px;
      vertical-align: top;
      text-align: center;
      p{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        @include breakpoint(retina){
          margin: 0;
          text-align: left;
        }
        @include breakpoint(desktop){
          margin: 0;
          text-align: left;
        }
        @include breakpoint(tablets){
          margin: 0;
          text-align: left;
        }

      }
      .button{
        margin-bottom: 10px;
      }

      @include breakpoint(retina){
        display: table-cell;
        padding-top: 10px !important;
        padding-bottom: 10px;
      }
      @include breakpoint(desktop){
        display: table-cell;
        padding-top: 10px !important;
        padding-bottom: 10px;
      }
      @include breakpoint(tablets){
        display: table-cell;
        padding-top: 10px !important;
        padding-bottom: 10px;
      }

      &:nth-child(1){
        background: #e8e8e8;
        padding: 20px;
        font-family: Trade Gothic LT W01 Bold No-_2;
        text-transform: uppercase;

        @include breakpoint(retina){
          text-align: right;
        }
        @include breakpoint(desktop){
          text-align: right;
        }
        @include breakpoint(tablets){
          text-align: right;
        }

      }
    }

  }


}


table.list{

  width:100%;
  p,h5{margin-bottom: 0 !important;}
  tbody {

    tr {

      display: block;

      @include breakpoint(retina){
        display: table-row;
        border-right: 1px solid #e8e8e8;

      }

      @include breakpoint(desktop){
        display: table-row;
        border-right: 1px solid #e8e8e8;

      }

      @include breakpoint(tablets){
        display: table-row;
        border-right: 1px solid #e8e8e8;

      }

      td{


        vertical-align: middle;
        background: white;
        line-height: 1.4;



        ul li{
          text-align: center;
        }

        @include breakpoint(retina){
          border-top: 1px solid #e8e8e8;
          border-bottom: 1px solid #e8e8e8;

          display: table-cell;
          min-width: 155px;

        }
        @include breakpoint(desktop){
          border-top: 1px solid #e8e8e8;
          border-bottom: 1px solid #e8e8e8;

          display: table-cell;
          min-width: 155px;
        }
        @include breakpoint(tablets){
          border-top: 1px solid #e8e8e8;
          border-bottom: 1px solid #e8e8e8;

          display: table-cell;
          min-width: 155px;
        }
        @include breakpoint(mobile){
          display: block;

        }
        @include breakpoint(default){
          display: block;

        }

        ul{

          li{
            line-height: 1.5;
          }
        }

        &:first-child{

          font-size: 1em;
          letter-spacing: 0.03em;
          color: #333;
          padding-left: 15px;
          padding-right: 15px;
          @include breakpoint(retina){
            text-align: right;
          }
          @include breakpoint(desktop){
            text-align: right;
          }
          @include breakpoint(tablets){
            text-align: right;
          }
          
          p{
            padding: 0 !important;
          }

        }

        h5{
          text-align: center;


          @include breakpoint(retina){
            text-align: right;
          }
          @include breakpoint(desktop){
            text-align: right;
          }
          @include breakpoint(tablets){
            text-align: right;
          }
        }
        p{
          text-align: center;
          padding: 20px;
          @include breakpoint(retina){
            text-align: left;
          }
          @include breakpoint(desktop){
            text-align: left;
          }
          @include breakpoint(tablets){
            text-align: left;
          }
        }

        
      }

      &.sub-head{
        td{
          background: #111;
          color: #e8e8e8;
          padding: 20px;
          border: 0;
          text-align: center;
          @include breakpoint(retina){
            text-align: right;
          }
          @include breakpoint(desktop){
            text-align: right;
          }
          @include breakpoint(tablets){
            text-align: right;
          }
        }
      }
    }
  }
  tr td:first-child{


    background: #e8e8e8;
    vertical-align: middle;
    font-family: Trade Gothic LT W01 Bold No-_2;
  }



}




table.specification-table{
  width:100%;
  p,h5{margin-bottom: 0 !important;}
  tbody {

    tr {

      display: block;

      @include breakpoint(retina){
        display: table-row;
        border-right: 1px solid #e8e8e8;
      }

      @include breakpoint(desktop){
        display: table-row;
        border-right: 1px solid #e8e8e8;
      }

      td{

        display: block;
        text-align: center;
        vertical-align: middle;
        background: white;
        line-height: 1.4;
        padding: 10px 20px;

        &.noPad{
          padding: 0 !important;
        }


        .button.solid{
          margin-bottom: 0 !important;
        }

        ul li{
          text-align: center;
        }

        @include breakpoint(retina){
          border-top: 1px solid #e8e8e8;
          border-bottom: 1px solid #e8e8e8;
          text-align: left !important;
          display: table-cell;
          ul li{
            text-align: left;
          }
        }
        @include breakpoint(desktop){
          border-top: 1px solid #e8e8e8;
          border-bottom: 1px solid #e8e8e8;
          text-align: left !important;
          display: table-cell;
          ul li{
            text-align: left;
          }
        }

        ul{
          padding-top: 10px;
          padding-bottom: 10px;
          li{
            line-height: 1.5;
          }
        }

        &:first-child{

          font-size: 1em;
          letter-spacing: 0.03em;
          color: #333;

          @include breakpoint(retina){
            text-align: right !important;
          }
          @include breakpoint(desktop){
            text-align: right !important;
          }

        }

        p{
          text-align: center;
          padding: 10px;

        }

      }

      &.sub-head{
        td{
          background: #111;
          color: #e8e8e8;
          padding:15px;
          border: 0;
        }
      }
    }
  }
  tr td:first-child{
    background: #e8e8e8;
    vertical-align: middle;
    font-family: Trade Gothic LT W01 Bold No-_2;
  }
  tr:hover{
    @include breakpoint(retina){
      background: #e8eaec;
    }

    @include breakpoint(desktop){
      background: #e8eaec;
    }
  }
}










article, .download-table{
  table{

    p,h5{
      margin-bottom: 0 !important;
    }

    display: table;
    width:100%;


    tbody {

      tr {

        display: block;

        @include breakpoint(retina){
          display: table-row;
          margin-bottom: 0;
          border: 0;
        }
        @include breakpoint(desktop){
          display: table-row;
          margin-bottom: 0;
          border: 0;
        }


        &.sub-head{
          border-right: 0;

          @include breakpoint(default){
            margin-bottom: 10px;
          }
          @include breakpoint(mobile){
            margin-bottom: 10px;
          }

          td{
            background: black;
            color: #FFF;
            font-variant: all-small-caps;
            padding:20px;
            border: 0;

          }
        }

      }
    }

    tr{


      @include breakpoint(retina){
        border-right: 1px solid #e8e8e8;
      }
      @include breakpoint(desktop){
        border-right: 1px solid #e8e8e8;
      }

      td{
        text-align: left;
        vertical-align: middle;
        background: white;
        line-height: 1.4;

        padding: 10px 20px;


        @include breakpoint(retina){
          border-top: 1px solid #e8e8e8;
          border-bottom: 1px solid #e8e8e8;

        }
        @include breakpoint(desktop){
          border-top: 1px solid #e8e8e8;
          border-bottom: 1px solid #e8e8e8;
        }



        ul{
          padding-top: 10px;
          padding-bottom: 10px;
          li{
            line-height: 1.5;
          }
        }

        &:first-child{
          font-variant: all-small-caps;
        }

        p{
          text-align: center;
          padding: 10px;
          @include breakpoint(retina){
            text-align: left;
          }
          @include breakpoint(desktop){
            text-align: left;
          }
        }

      }
    }

    @include breakpoint(default){
      tr td{


        display: block;
        text-align: center !important;

        .button.solid{
          margin-bottom: 0 !important;
        }

        ul li{
          text-align: center !important;
        }
      }
    }
    @include breakpoint(mobile){
      tr td{

        display: block;
        text-align: center !important;

        .button.solid{
          margin-bottom: 0 !important;
        }

        ul li{
          text-align: center !important;
        }
      }
    }
    @include breakpoint(tablets){
      tr td{
        display: block;
        text-align: center !important;
        ul li{
          text-align: center !important;
        }
      }
    }


    tr td.thumb{
      @include breakpoint(retina){
        width: 120px !important;

      }
      @include breakpoint(desktop){
        width: 120px !important;

      }
    }


    tr td.download{
      min-width: 190px !important;
    }


    tr td:first-child{
      text-align: right;
      background: #e8e8e8;
      vertical-align: middle;
      font-size: 1.2em;
      font-family: Trade Gothic LT W01 Bold No-_2;
    }

    tr:hover{
      @include breakpoint(retina){
        background: #e8eaec;
      }

      @include breakpoint(desktop){
        background: #e8eaec;
      }
    }

  }
}

.display-tables{
  display: none;
  &.display{
    display: block;
  }
}

