@import "../Settings/breakpoints";
@import "../Partials/typography";

%button-template{

  @extend %standard-header-font;

  width:auto;
  display:inline-block;
  color: inherit;
  text-align: center;
  border: 2px solid;
  background: transparent;
  text-transform: uppercase;
  line-height: 1em;

  font-weight: 500;
  letter-spacing: 1px;

  margin: $gutter/4;
  margin-left: 0;

  padding: 1em 2em;


  i{
    margin-left: -5px;
    margin-right: 5px;
  }

  &.ico i{
    margin-left:0 !important;
    margin-right:0 !important;
  }

  &:last-child,&:last-of-type{
    //margin: $gutter/2 0;
  }
}

%button{
  @extend %button-template;
  &:hover, &:active, &:focus{
    cursor: pointer;
    box-shadow: 0 6px 33px -15px rgba(0, 0, 0, 1);
  }

}

%button-tiny{
  font-size: 70% !important;
  padding: 10px 15px 9px;
  line-height: 1;
  margin-left: 4px;
  margin-right: 4px;

  @include respond(mobile){
    margin-left: 7px;
    margin-right: 7px;
  }

}

%button-small{
    font-size: 80% !important;
    padding: 1.2em;
    line-height: 1;
    margin-top: 0 !important;

    &.labeloffset{

      margin-top: 10px !important;

      @include breakpoint(retina){
        margin-top: 49px !important;
      }
      @include breakpoint(desktop){
        margin-top: 49px !important;
      }
      @include breakpoint(tablets){
        margin-top: 49px !important;
      }
    }
}

%button-large{
  font-size: 150%;
}

%buttonTemplate{

  @extend %button;

  &.large{
    @extend %button-large;
  }

  &.small{
    @extend %button-small;
  }

  &.tiny{
    @extend %button-tiny;
  }

}
