@import "../Settings/breakpoints";
@import "../Mixins/respond";

%uppercase{
  text-transform: uppercase !important;
}

%lowercase{
  text-transform: lowercase !important;
}

%hide{
  display: none !important;
}

%rel-full-height{
  position: relative;
  width: 100%;
  height: 100%;
}

%overflow-hidden{
  overflow: hidden;
}

%portshow{
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    display: block !important;
  }
  display: none;
}

%porthide{
  /* Portrait */
  @media only screen
  and (orientation: portrait) {
    display: none !important;
  }
  display: block;
}

%landscapehide{
  /* Portrait */
  @media only screen
  and (orientation: landscape)
  and (max-width: $width-tablet){
    display: none !important;
  }
  display: block;
}



@mixin mediaDisplay($mobile, $tablets, $desktop, $full){
  @include respond(full) {
    display:$full;
  }
  @include respond(desktop) {
    display:$desktop;
  }
  @include respond(tablets) {
    display:$tablets;
  }
  @include respond(mobile){
    display: $mobile;
  }
}


%mobile-text-center{
  @include respond(mobile){
    text-align: center !important;
  }
}

%hdhide{
  @include mediaDisplay(black, block, block, none !important);
}

%mobilehide{
  @include mediaDisplay(none !important, block, block, block);
}

%mobileshow{
  @include mediaDisplay(block !important, none !important, none !important, none !important);
}

%tabletshow{
  @include mediaDisplay(none, block, none, none);
}

%mobiletablethide{
  @include mediaDisplay(none !important, none !important, block, block);
}

%mobiletabletshow{
  @include mediaDisplay(block, block, none !important, none !important);
}

%centered{
  display: block;
  margin: 0 auto;
}

%text-center{
  text-align: center;
}
%text-left{
  text-align: left;
}

%flushbottom{
  margin-bottom: 0 !important;
}
%flushtop{
  margin-top:0 !important;
}
%flushleft{
  margin-left:0 !important;
}
%flushright{
  margin-right: 0 !important;
}

%clear{
  display:block;
  width: 100%;
  clear: both;
  &:after{
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    content:"";
    clear: both;
  }
}

%pad{
  padding: $gutter;
}

%padTop{
  padding-top: $gutter;
}

%padLeft{
  padding-bottom: $gutter;
}
%padRight{
  padding-bottom: $gutter;
}

%padBottom{
  padding-bottom: $gutter;
}
%padTop-2x{
  padding-top: $gutter * 2;
}
%padBottom-2x{
  padding-bottom: $gutter * 2;
}

%padLeftRight{
  padding-left:20px;
  padding-right:20px;
}