
%small-menu{

//  background: black;

  #logo{

    position: absolute;
    width: 290px;
    height: 60px;
    float: left;
    top:5px;

    @include svgFallback(
      "#{$assets}/img/branding/martin-audio-unite-your-audience.png",
      "#{$assets}/img/branding/martin-audio-logo-unit-white.svg"
    );

    background-size: contain;
    background-repeat: no-repeat;
  }

  #social-bar{  display: none;  }

  ul.menu{

    text-align: left;
    float: right;

    li {
      a{
        color: white;
        font-size:18px;
        margin-left: 1px;
        margin-right: 0;
        @extend %standard-header-font;

        i{
          color: #e8e8e8;
        }

        span{
          display: none !important;
        }

        &:hover{
          i{
            color: #FFF;
          }
        }

      }

    }
  }

}

%sub-menu{
  ul.sub-menu{

    width:100%;
    display: block;
    text-align: right;
    float: right;

    li{
      display: inline-block;
      margin-left: 2px;

      &:hover{
        background: white;
        border-radius: 0 0 3px 3px;

        a{
          color: #000 !important;
        }
      }

      a{
        @include respond(full) {
          font-size: 14px;
        }

        @include respond(desktop) {
          font-size: 13px;
        }

        @include respond(tablets) {
          font-size: 11px;
        }


        color: #e8e8e8;
        padding: 0 8px;
        font-weight: 400;

        height: 28px;
        line-height: 28px;

        display: block;

        &:hover,&:focus{
          cursor: pointer;
        }

        &:active{
          background: white;
          color: black !important;
        }

      }

    }
  }
}

%dropdown-menu{


    &.light{
      li a{
        color: white;
      }
    }

    &.dark{
      li a{
        color: black;
        &:hover{
          color: #ccc;
        }
      }
      .menu-dropdown{
        background: black;
        ul li a { color: white; }
      }
    }

    @include respond(full) {
      display: block;
    }

    @include respond(desktop) {
      display: block;
    }

    @include respond(tablets) {
      display: block;
      text-align: left;
      float: right;
    }

    display: none;

    &.center-text{
      text-align: center;
    }

    li{

      display: inline-block;

      &:hover{
        cursor: pointer;
      }

      &.drop{

        @include transition('all','120ms','ease');

        margin-right: -10px;

        &.fixed-width{
          position: relative;

          .menu-dropdown{
            width: 180px;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &:hover:after{
          position: absolute;
          content: "";
          display: block;
          width: 100%;
          height: 20px;
          background: url('#{$assets}/img/template/drop-down-point.png') center no-repeat;
          left: 0;
          right: 0;
          margin-top:-5px;
        }

      }

      .menu-dropdown{
        display: block;
        visibility: hidden;
        position: absolute;
        background: #FFF;
        left: 0;
        width: 100%;
        padding-top: 3px;
        padding-bottom: 0;
        opacity: 0;
        transform: translateY(10px);
        z-index: 100;

        -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,0.4);
        box-shadow: 0 2px 4px 1px rgba(0,0,0,0.4);

        @include transition('all','120ms','ease');

        &.active{
          display: block !important;
          z-index: 9000;
        }

      }

      &:hover{
        .menu-dropdown{
          visibility: visible;
          opacity: 1;
        }
      }

    }

}