@import "../../Mixins/respond";

//hide the background image on image switch.
section.quote-block.cssSwap {
  opacity: 0;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  &.loaded {
    opacity: 1;
  }
}

.quote-block{

  .banner{
    padding-top: 5% !important;
    padding-bottom: 5% !important;
  }

  position: relative;
  text-align: center;
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 15%;

  @include breakpoint(desktop){
    padding-top: 10%;
    padding-bottom: 10%;
  }
  @include breakpoint(retina){
    padding-top: 10%;
    padding-bottom: 10%;
  }

  blockquote{

    margin: 0 !important;
    padding: 0 !important;

    h2{

      color: #fff;
      display: block;
      font-size: 2.5em;
      line-height: 1.1;
      text-align: center;
      text-shadow: -2px 3px 5px rgba(0, 0, 0, 0.50);
      letter-spacing: -1px;

      &:before,&:after{
        font-family: FontAwesome;
        font-size: 0.5em;
        vertical-align: super;
      }

      &:before{
        content: '\f10d';
        padding-right: 10px;
      }

      &:after{
        content: '\f10e';
        padding-left: 10px;
      }

      @include respond(desktop){
        font-size: 2.2em;
      }
      @include respond(tablets){
        font-size: 2.1em;
      }
      @include respond(mobile){
        font-size: 2em;
      }

    }



    cite{
      display: inline-block;
      background: transparent;
      color: #FFF;
      line-height: 1.5em;
      font-weight: 500;
      margin-top:10px;
    }
  }


  &:before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.25);
  }
  &.dark{
    &:before{
      background: rgba(0,0,0,0.50);
    }
  }
  &.light{

    h2{
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    &:before{
      background: rgba(0,0,0,0.10);
    }
    cite{
      color: #222;
    }
    h2:before,h2:after{
      color: #e8e8e8;
    }

  }

}


blockquote{

  @extend %padBottom-2x;

  p{
    font-size:1em;

    font-style: normal;
    font-weight: 500;
    line-height:1.2em;
    text-transform: uppercase;
    @extend %mobile-text-center;

    &:before,&:after{
      font-family: FontAwesome;
      font-size: 0.6em;
      vertical-align: bottom;
    }

    &:before{
      content: '\f10d';
      padding-right: 5px;
    }

    &:after{
      content: '\f10e';
      padding-left: 5px;
    }
  }

  footer{
    cite{
      font-size: 0.8em;
      display: block;
      @extend %mobile-text-center;
    }
  }
}


