#file-tree-explorer{
    .root{
        height: 2em;        
        span{
            font-size: 1.2em;
            height: 2em;
            line-height: 2em;
        }
    }
    #filetree{
        ul{
            li{
                line-height: 1.2em;
                span{
                    height: 1em;
                }
                &.file{
                    &::before{
                        content: "📄";
                        width: 22px;
                    }
                    span{
                      
                    }
                }
                &.dir{
                    &::before{
                        content: "📂";
                        width: 22px;
                    }
                    &.active{
                        &::before{
                            content: "📂";
                            width: 22px;
                        }
                    }
                }
            }
        }
    }
}