
::-webkit-scrollbar {
    width: 15px;
}

.main,
.side{
    ::-webkit-scrollbar{
        width: 15px;
    }
    ::-webkit-scrollbar-track-piece{
        &:start {
            /* Select the top half (or left half) or scrollbar track individually */
        }
    }
    &:hover{
        ::-webkit-scrollbar{background: transparent;}
        ::-webkit-scrollbar-thumb{ margin:2px;}
    }
}

::-webkit-scrollbar-track-piece{
    &:start {
        /* Select the top half (or left half) or scrollbar track individually */
        background: transparent;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 0;
    border-radius: 0;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: 0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece:start,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb{
    &:window-inactive {
        background: transparent;
    }
}

 ::-webkit-scrollbar-thumb{
     &:hover{
        cursor: pointer;
     } 
 }

 ::-webkit-resizer,
 ::-webkit-scrollbar-corner       
 { 
    background: transparent;
 }


::-webkit-scrollbar {
    width: 15px;
}

.side ::-webkit-scrollbar{
    width: 12px;
}

.main,
.side{
    ::-webkit-scrollbar-thumb{
        background: $scroll-thumb-bg;
        border-radius: 10px;
        border:2px solid transparent;
        border-left:3px solid transparent;
        background-clip: content-box;
        &:hover{
            background: $scroll-thumb-bg-hover;   
        }
    }
    &:hover{
        ::-webkit-scrollbar{
 //           display: block;
        }
        ::-webkit-scrollbar-thumb{
            background: $scroll-thumb-bg-hover;          
            border-radius: 10px;
            border:2px solid transparent;
            border-left:3px solid transparent;
            background-clip: content-box;
        }
    }
}

.main{
    ::-webkit-scrollbar-track-piece{
        background: $scroll-track-bg;
        border-left:1px solid $scroll-track-border;    
    }
    ::-webkit-scrollbar-thumb{        
        border:2px solid transparent;
        border-left:3px solid transparent;
        background-clip: content-box;
    }
}

 ::-webkit-resizer,
 ::-webkit-scrollbar-corner       
 { 
    background: $primary-bg;
    border: 0;  
 }