$primary-bg: #fff;
$secondary-bg: #c8c8c9;
$ter-bg:  #0078d7;
$quad-bg: rgba(82,83,86,1);
$active-border: #a6a5a5;
//$border-col: #afaaac;
$font-col:#222;

$toolbar-bg-top: linear-gradient(#e1e1e1,#d1d1d1);
$toolbar-bg: #d1d1d1;
$toolbar-border: #f0f0f0;

$scroll-track-bg: #f7f7f7;
$scroll-track-border: #e5e5e5;
$scroll-thumb-bg: #9c9c9d;
$scroll-thumb-bg-hover:#676668;

$statusbar-bg: $toolbar-bg;

$btn-border-top: 1px solid #c9c9c9;
$btn-border: 1px solid #c5c6c4;
$btn-border-bottom: 1px solid #afafaf;
$btn-radius: 4px;
$button-bg: #f9f9f9;

$active-color:#6c6c6c;
$active-bg: #d1d1d1;

$inactive-bg: #f9f9f9;
$inactive-border: #c9cac8;
$inactive-color:#b1b0b1;


