/*
  SASS/settings.Scss
  Dan Smith. 2015
*/

//Responsive Break Points
$width-hd                           :   1680px;
$width-full                         :   1320px;
$width-desktop                      :   1020px;
$width-tablet                       :   768px;
$width-mobile                       :   600px;
//default 0-600

//Responsive Break Points
$breakpoint-default: 380px;
$breakpoint-mobile:  600px;
$breakpoint-tablet:  735px;
$breakpoint-desktop: 1020px;
$breakpoint-retina:  1350px;

//wrapper
$container-default                  :   86%;
$container-mobile                   :   86%;
$container-tablet                   :   86%;
$container-desktop                  :   1000px;
$container-retina                   :   1320px;

//Grid Settings
$total-columns                      :   12;
$gutter                             :   20px;
$module-padding : 20px;