/*
  SASS/settings.Scss
  Dan Smith.
*/

//Typography Settings
//Headings
//General
$heading-font-family : "franklin-gothic-urw" ,sans-serif;
$heading-font-weight: 900;
$heading-font-letter-spacing: 0.02em;
$heading-font-colour : #000;
$heading-font-alt-colour : #FFF;

//Paragraph
$font-size : 16px;
$font-family : "franklin-gothic-urw",sans-serif;
$font-weight : 400;
$font-colour : #111;
$font-alt-colour: #FFF;

$font-leading                  :   1.6;
$font-letter-spacing           :   0.001em;
$font-color                    :   #333;

$heading-font-transform : uppercase;
$heading-letter-spacing: 0.02em;
$heading-color: black;
$heading-margin-bottom: 0.5em;

$heading-font-maxsize : 4.5;
$heading-font-minsize : 1.5;

$heading-max-line-height : 1.3;
$heading-min-line-height : 1.1;

$heading-font-mobile-maxsize : 2.5;
$heading-font-mobile-minsize : 1.5;

//FontScales
$heading-h1 : 3.2em;
$heading-h2 : 2.6em;
$heading-h3 : 2em;
$heading-h4 : 1.8em;
$heading-h5 : 1.2em;
$heading-h6 : 1.1em;

$heading-mobile-h1 : 2em;
$heading-mobile-h2 : 1.8em;
$heading-mobile-h3 : 1.7em;
$heading-mobile-h4 : 1.5em;
$heading-mobile-h5 : 1.3em;
$heading-mobile-h6 : 1.1em;