$assets: "/path/to/assets";

/* Icons */
$icomoon-font-path:  "/fonts" !default;
$icon-chevron-down: "\f078";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-linkedin: "\f0e1";
$icon-chevron-circle-up: "\f139";
$icon-youtube: "\f167";
$icon-menu: "\e900";

