

body{

    &.windows,
    &.win32{
        &.light{
            @import 'windows/light/windows.scss';
        }
        &.dark{
            @import 'windows/dark/windows.scss';
        }
    }

    &.mac,
    &.darwin{
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
        &.light{
            @import 'mac/light/mac.scss';
        }
        &.dark{
            @import 'mac/dark/mac.scss';
        }
    }

    &.linux{
        @import 'linux/linux.scss';
    }


}





