@import '../../settings/breakpoints';
@import '../../mixins/respond';
@import '../../mixins/css3';


.deck {  
  .flex-container{
    .card {
      height: 100%;
      p {
        margin-bottom: 70px !important;
      }
      h2{
        padding-top: 10px;
        margin-bottom: 10px;
      }
      figure{
        border-bottom:1px solid #e8e8e8;
      }
      &.caption:after {
        font-size: 13px;
        color: #111 !important;
        border: 1px solid rgba(0,0,0,0.1);
        text-transform: uppercase;
      }
    }
    .content {
      position: absolute;
      bottom: 0;
    }
  }

}



.flex-container{
  display: flex;
  width: 100%;
  align-items: stretch;
  position: relative;
  flex-wrap: wrap;
  height: 50px;
  overflow: hidden;

  &.active{
    height: auto;
    overflow: visible;
  }

  @include transition("opacity","180ms","ease");

  > div{
    height: initial;
    width: 100%;
    opacity: 1;
    order:20;
    @include transition("opacity","180ms","ease");

    &.h{
      position: relative;
      margin-bottom: 20px;
      opacity: 0;
    }
  }
}


.flex-container > div{
  @include breakpoint(tablets){
    width: calc(100% * (1/2));
  }
  @include breakpoint(desktop){
    width: calc(100% * (1/3));
  }
  @include breakpoint(retina){
    width: calc(100% * (1/3));
  }
}


@for $i from 1 through 6 {
  $delay: 0.1;
  .flex-container.active > div:nth-child(#{$i}),
  .flex-container:hover > div:nth-child(#{$i}) {
    transition-delay: ($i * $delay) + unquote("s");
  }
}

.flex-container.active > div,
.flex-container:hover > div {
  opacity: 1;
}






#nav-slider{
  width: 100%;
  overflow:hidden;
  overflow-x: auto;
  font-size: 18px !important;
  position: relative;
  .nav-slider-inner {
    height: 53px;
    overflow: hidden;
    width: 1430px;
    margin-bottom: 20px;
  }
}



.nav-scroll-btn{
  width: 35px;
  box-sizing: content-box;
  z-index: 9;
  position: absolute;
  background: #f4f4f4;
  height: 49px;
  display: none;
  border: 2px solid #000;
  color: #000;

  &:hover{
    cursor: pointer;
    background: #000;
  }

  i {
    line-height: 49px;
    width: 35px;
    text-align: center;
    font-size: 25px;
    color: inherit;
    &:hover{
      color: #FFF;
    }
  }
  &.back{
    left: 0;
  }
  &.forward{
    right: 0;
  }
  &.active{
    display: block;
  }
}


#filter-title{
  margin-top: -38px; margin-bottom: 0;
  padding: 15px 0; box-sizing: content-box
}

#collectionContainer{
  display: none;
}
.secondaryImage{
  display: none;
}
