.bars{
    background:$menu-bg;
}

#status-bar{
    height:18px;
    background:$statusbar-bg;
}

#toolbar{
    border-bottom: 1px solid $border-col;
    ul{    
        background: $primary-bg;
        border-top: 1px solid $border-col;
        padding:0 $window-margin;
        height: 32px;
        li{
            &.button{
                height:32px;
                width: 36px;
                line-height: 32px;
                display: block;
                float: left;
                border:$btn-border-style;
                border-top: 0;
                border-bottom: 0;
                text-align: center;
                color: #555;
                border-radius: $btn-radius;
                cursor: pointer;
                position: relative;
                margin-right: 2px;
                &.grouped{
                    margin-right: 0;
                    border-left: 0;
                    border-radius: 0;
                    border-right:$btn-border-style;
                    &.left{
                        border-radius: $btn-radius 0 0 $btn-radius;
                        border-left:$btn-border-style;
                    }
                    &.right{
                        border-radius: 0 $btn-radius $btn-radius 0;
                        border-right:$btn-border-style;
                    }
                }        
            }
        }
    }
}