.menu{
    //title
    &:before{
        color: rgba(255,255,255,0.5);
    }
    //menu    
    ul{
        color:  rgba(255,255,255,0.9);
        li{
            &:hover{
                background: #fff;
                background: rgba(0,0,0,0.02);
                color: rgba(0,0,0,0.95); 
            }
            &.menuitem.active{              
                background: #fff;
                color: rgba(0,0,0,0.95); 
            }
            &.menuitem.active{
                background: #fff;
            }
        }
        //dropdown
        ul{
            background: #fff;
            color: rgba(0,0,0,0.95); 
            border: 1px solid rgba(0,0,0,0.3);
            border-top:1px solid rgba(0,0,0,0.1);
            box-shadow: 2px 2px 12px 3px rgba(0,0,0,0.1);
        }
    }
}

//Menu Btns
%win-btn{
    border:0;
    width: 2.5rem;
    float:right;
    height: 100%;
    cursor: pointer;
    &:after { 
        content: attr(data-icon); 
        padding-left: 4px;
    }
    &:hover{
        background: rgba(255,255,255,0.1);
    }
}

.menu{
    #close-btn{                
        @extend %win-btn;
        &:hover{
            background: #ff544d;
        }
    }
    #min-btn{
        @extend %win-btn;
        
    }
    #max-btn{
        @extend %win-btn;
    }
}
