$window-margin: 4px;

$primary-bg: rgba(40,40,50,1);
$secondary-bg: rgba(33,34,44,1);
$ter-bg:  rgba(0,120,215,1);
$quad-bg: rgba(82,83,86,1);
$border-col: rgba(40,40,50,1);

$menu-bg: rgba(23, 22, 32, 0.95);
$menu-bg-inactive: rgba(25,25,35,1);
$statusbar-bg: $secondary-bg;
$statusbar-bg-inactive: $menu-bg-inactive;

$btn-radius: 0;
$btn-border-style: 0;

$main-font-col: #ccc;