//Effects
.box-shadow{
  -webkit-box-shadow: 0 6px 12px -6px rgba(0,0,0,0.4);
  box-shadow: 0 6px 12px -6px rgba(0,0,0,0.4);
}

.effect-bg-dark{
  position: relative;
  &:before{
    content: "";
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7));
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}