.flex-wrapper {
    display: flex;
    align-items: stretch;
    position: relative;
    
    &.column{
        height: 100vh;
        flex-direction: column;   
    }

    &.row{
        flex-direction: row;
        height: 100%;
    }    
    .view-row{ flex: 0 2; }
    .view-fill{ flex-grow: 2; }
}

.tab-row{
    width:100%;
    font-size:0; 
    .tab{
        display: inline-block;
        cursor: pointer;        
    }
}