@import '../../Partials/helpers';
@import '../../Mixins/respond';
@import '../../Mixins/css3';


%accordion-item{
  display: block;
}

%accordion-tab{

  display: block;
  padding: 20px 0;

  i{
    float: left;
    padding: 1px 10px 0px 0px;
    display: inline-block;
  }

  @include breakpoint(default){
    font-size: 1.3em !important;
  }
  @include breakpoint(mobile){
    font-size: 1.3em !important;
  }

}


%accordion-content{
  display: block;
  max-width: 100%;

  &.padded{
    padding: 20px 0 20px 0;
  }

  .module{
    padding: 0 !important;
    margin: 0 !important;
  }

}

.button-item{

  @extend %accordion-item;

  .content{
    @extend %accordion-content;
    .deck.products {
      margin-left: -10px;
    }
  }

  .button-tab{



    @extend %accordion-tab;
    @include transition("all","200ms");

    &:hover{
      cursor: pointer;
    }
  }

}


.accordion{
  &.full-width{
    .item{
      .tab{
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }


  &.light{
    .item{
      .tab{
        &:hover{
          i{
            color: black;
          }
        }
      }
    }
  }

  &.dark{
    .item{
      .tab{
        &:hover{
          i{
            color: white;
          }
        }
      }
    }
  }

  .item{

    .button{
      &:hover{
        box-shadow: 0 0 0 0 #fff;
      }
    }

    @extend %accordion-item;

    .content{

      .art-specs{
        padding: 40px;
        background: white;
        -webkit-box-shadow: 1px 2px 10px -6px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 3px 10px -6px rgba(0, 0, 0, 0.5);
        padding-bottom: 20px;
      }

      @extend %accordion-content;

      .module{
        padding-top:20px;
      }

      &.hidden{
        display:none;
      }
    }

    .tab{

      @extend %accordion-tab;
      @include transition("all","200ms");
      &:hover{
        cursor: pointer;
      }
    }
  }
}