/**
* MARTIN AUDIO 2017
* SASS Stylesheet
*/

@import 'framework/reset/reset';

@import "framework/components/grid/grid";
@import "framework/components/deck/deck";
//@import 'framework/components/typography/typography';
@import "framework/components/lists/lists";
@import "framework/components/flex/flex";
@import 'framework/components/tables/tables';
@import "framework/components/forms/checkboxes";
@import "framework/components/tabs/tabs";
@import "framework/components/overlay/overlay";
@import 'framework/components/tooltip/tooltip';
@import 'framework/components/ripple/ripple';


$theme-primary: #FFF;
$theme-adj:  #1d7ad9;
$theme-secondary: #21222c;
$theme-ter: #191a21;
$theme-side: #343746;
$theme-font:#222;

@import 'layout/layout';
@import 'layout/scrollbar';
@import 'layout/statusbar';
@import 'layout/menu';
@import 'layout/filetree';



/** OS STYLES **/
@import 'platform/targets';


