.ripple-effect{
    overflow: hidden;
    position: relative;
  }
  .circle{
    position: absolute;
    background:rgba(255,255,255,.5);
    border-radius:50%;
    animation:ripple .5s ease-in forwards;
  }
  @keyframes ripple {
    from{
      opacity: 1;
      transform:scale(0);
    }
    to{
      opacity: 0;
      transform:scale(3);
    }
  }