html, body{
    color: $font-col;
}
 
#app{    
    .main{
       background-color: $primary-bg;
    }
    .side{      
        border-right:1px solid $active-border;
         .view{
             .content{ 
             }
         }
    }
}

.dragbar{
   width: 13px;
   border-left: 6px solid transparent; //side
   border-right: 6px solid transparent; //primary
   margin-right: -6px;
   margin-left: -6px;
   &:hover{
    background-color: $secondary-bg;
   }
   &.active{
    background-color: $secondary-bg;
   }
  
}