%window-btn{
    border:2px solid;
    border-radius: 100%;
    width: 25px;
    text-align: center;
    transform: scale(0.5) translateX(-16px);
}

//Menu Btns
.menu{
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height:1.5rem;
    line-height: 1.5rem;
    ul{
        li{
            height:1.5rem;
            line-height: 1.5rem;
        }
        &:hover{
            #close-btn{
                border-color:#dc3f39;                
            }
            #min-btn{
                border-color:#dc9618;
            }
            #max-btn{
                border-color:#14a327;            
            }
        }
    }

    #close-btn{
        @extend %window-btn;    
        border-color: #dc3f39;
        background: #ff544d;
        transform: scale(0.5);
    }
    #min-btn{
        @extend %window-btn;    
        border-color: #dc9618;
        background: #ffb429;
        transform: scale(0.5) translateX(-8px);
    }
    #max-btn{
        @extend %window-btn;    
        border-color:#14a327;
        background:#24c238;       
        transform: scale(0.5) translateX(-16px);
    }
}

