%toolbar-btn{
    position: relative;
    display: block;
    float: left;
    line-height: 25px;
    font-size: 13px;
    text-align: center;
    height:25px;
    width: 28px;
}

%toolbar-btn-style{
    border:$btn-border;
    border-top: $btn-border-top;
    border-bottom: $btn-border-bottom;
    border-radius: $btn-radius;
    background: $button-bg;
    &:hover{
        cursor: pointer;
    }
}

.bars{
    border-top: 1px solid $toolbar-border;
    background: $toolbar-bg-top;
    -webkit-app-region: drag
}

.tab-row{
    background: $toolbar-bg;
    border-bottom: 1px solid $active-border;
    .tab{
        height:23px; 
        line-height:25px;
        padding: 0 8px;
        font-family: sans-serif;
        font-size: 12px;
        color: $active-color;
        &.active{                    
        }
    }
}

#toolbar{
    border-bottom: 1px solid $active-border;
    color: $active-color;   
    ul{    
        padding-left:5px;
        padding-right:5px;
        height: 1.8rem;
        background: $active-bg;
        li{
            &.button{
                @extend %toolbar-btn;
                @extend %toolbar-btn-style;                
                &.grouped{
                    margin-right: 0;
                    border-left: 0;
                    border-radius: 0;
                    &.left{
                        border-radius: $btn-radius 0 0 $btn-radius;
                        border-left:$btn-border;
                    }
                    &.right{
                        border-radius: 0 $btn-radius $btn-radius 0;
                        border-right:$btn-border;
                    }
                }            
                &:hover{
                    background: #fff;
                }
                &:active{
                    background: red;
                }
            }
            &.divider{
                @extend %toolbar-btn;
            }
        }
    }
}
