$primary-bg: #26272a;
$secondary-bg: #2d2e2f;
$ter-bg:  #0078d7;
$quad-bg: rgba(82,83,86,1);
$active-border: #4f5051;
//$border-col: #afaaac;
$font-col:#222;

$toolbar-bg-top: linear-gradient(#323334,#2d2e2f);
$toolbar-bg: #2d2e2f;
$toolbar-border: #000;

$scroll-track-bg: #28292c;
$scroll-track-border: #3b3c3f;
$scroll-thumb-bg: #696a6c;
$scroll-thumb-bg-hover:#676668;

$statusbar-bg: $toolbar-bg;

$btn-border-top: 1px solid #696a6d;
$btn-border: 1px solid #515154;
$btn-border-bottom: 1px solid #515154;
$btn-radius: 4px;
$button-bg: #5c5d60;

$active-color:#6c6c6c;
$active-bg: #2d2e2f;

$inactive-bg: #f9f9f9;
$inactive-border: #c9cac8;
$inactive-color:#b1b0b1;


